* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #001e4d;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 1rem;
    padding: 30px;
}

.app h1 {
    font-size: 24px;
    font-weight: bold;
    color: #001e4d;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.app #answer-btns .btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.app #answer-btns .btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.app #answer-btns .btn:disabled {
    cursor: no-drop;
}

.correct {
    background-color: #9aeabc; /* Green background for correct answer */
}

.incorrect {
    background-color: #ff9393; /* Red background for incorrect answer */
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .app {
        padding: 20px;
    }
    .app h1 {
        font-size: 20px;
    }
    .quiz h2 {
        font-size: 16px;
    }
    .app #answer-btns .btn {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .app {
        padding: 10px;
    }
    .app h1 {
        font-size: 18px;
    }
    .quiz h2 {
        font-size: 14px;
    }
    .app #answer-btns .btn {
        font-size: 12px;
    }
}
